.outer-square {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-content: center;
  margin-left:10px;
  margin-top:10px;
}

/* Style the inner squares */
.inner-square {
  background-color: green; 
}

/* Style the circles */
.circle {
  background-color: blue;
  border-radius: 50%; /* Make it a circle */
 
}
